body {
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
    /* background: rgba(128, 128, 128, 0.377); */
}

/* header part */
/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    gap: 10px;
}
.left h2{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.left span {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.right ul  {
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
.right  ul li {
    display: flex;
    text-decoration: none;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.right span {
    color: #FF5400;
}

/* banner */
.banner {
    text-align: center;
    width: 100%;
    height: 550px;
    flex-shrink: 0;
    border-radius: 16px;
    background-image: url("./images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); */
}
.banner h2 {
    margin: 10px 0 0 0;
    padding: 20px 0 0 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner p {
    margin: 0 0 10px 0;
    padding: 10px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.banner_field {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.f_1st {
    width: 170px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
}
.f_1st span  {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.f_1st span input{    
    border: none;
}

.f_2nd span{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    gap: none;
    
}
.f_2nd input {
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    
    
}
.f_2nd img {
    width: 24px;
    height: 24px;
    
    flex-shrink: 0;
}

/* main part */
/* section1 */
.sec_1{
    display: flex;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    width: 100%;
    
}
.sec_1_p1 {
    width: 50%;
}
.sec_1_p2 {
    width: 50%;
}

/* section2 */

/* section3 */
.sec_3{
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}
.sec_3_p1 {
    text-align: center;
}
.sec_3_p2 {
    display: flex;
}
.sec_3_p3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* section last */
.sec_last {
    display: flex;
    gap: 10px;
}

/* footer part */
.foot {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    text-align: center;
    width: 100%;
    height: 280px;
    flex-shrink: 0;
    background: rgba(19, 19, 24, 0.05);
}
.foot_p1 {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
.foot_p1 img {
    width: 40px;
    height: 46.673px;
    flex-shrink: 0;
}
.foot_p1 h2 {
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.foot_p1 span {
    color: #FF5400;
    font-family: Mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.foot_mid {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    margin: 0;
    padding: 0 5px 5px 5px;
}
.foot img {
    /* width: 100px;
    height: 20px;
    flex-shrink: 0; */
}
.foot hr {
    width: 80%;
    height: 1px;
    background: rgba(19, 19, 24, 0.05);
}
.foot hr:hover {
    background: blue;
}
.foot p {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}